<html>
  <head>
    <title>Page Potin</title>
  </head>
  <body>
    <h3>Voici la page du potin N°<%=:id%> </h3>
      <p>
        Son auteur : <%= gossip.author %><br/>
        Le contenu du potin : <%= gossip.content %><br/>
        <a href="/">Je reviens au menu principale.</a>
      </p>
  </body>
</html>
